{:paths ["src"]
 :deps {funcool/beicon {:mvn/version "2021.04.29-0"}
        funcool/okulary {:mvn/version "2020.04.14-0"}}
 :aliases
 {:dev
  {:extra-deps
   {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
    com.bhauman/rebel-readline {:mvn/version "0.1.4"}
    org.clojure/clojurescript {:mvn/version "1.10.844"}
    org.clojure/clojure {:mvn/version "1.10.3"}
    org.clojure/tools.deps.alpha {:mvn/version "0.11.910"}}
   :extra-paths ["test"]}

  :install
  {:exec-fn clojure.tools.cli.api/mvn-install
   :exec-args {:jar "target/potok.jar"}}

  :ancient
  {:main-opts ["-m" "deps-ancient.deps-ancient"],
   :extra-deps {deps-ancient/deps-ancient {:mvn/version "RELEASE"}}}

  :codox
  {:extra-deps {codox/codox {:mvn/version "RELEASE"}
                org.clojure/tools.reader {:mvn/version "RELEASE"}
                codox-theme-rdash/codox-theme-rdash {:mvn/version "RELEASE"}}}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
   :exec-fn hf.depstar/jar
   :exec-args {:jar "target/potok.jar"}}}}

